<nav
    class="
        fixed top-0 left-0 w-full
        shadow-md
    "
    data-controller="navbar"
>
    <div>
        <div
            class="
                flex justify-between items-center
                bg-white
            "
        >
            {# Left side #}
            <div class="flex items-center">
                {# Brand #}
                <a href="{{ path('home_index') }}">
                    <img
                        class="inline-block"
                        src="{{ asset('build/images/app/branding-navbar.svg') }}"
                        alt="branding"
                        width="255"
                    >
                </a>

                {# Menu #}
                <div class="flex items-center justify-between hidden lg:block sm:ml-5 h-full">
                    {{ include('component/nav/navbar_menu_item.html.twig', {
                        href: path('job_index'),
                        label: 'Suivi des jobs'
                    }) }}

                    {% if is_granted('ROLE_CUSTOMER') or is_granted('ROLE_ADMIN') %}
                    {{ include('component/nav/navbar_menu_item.html.twig', {
                        href: path('job_reporting_index'),
                        label: 'Reporting'
                    }) }}

                    {{ include('component/nav/navbar_menu_item.html.twig', {
                        href: path('job_create'),
                        label: 'nouveau job'
                    }) }}
                    {% endif %}

                    {% if is_granted('ROLE_PROJECT_MANAGER') %}
                        {{ include('component/nav/navbar_menu_item.html.twig', {
                            href: path('product_index'),
                            label: 'Produits'
                        }) }}

                        {{ include('component/nav/navbar_menu_item.html.twig', {
                            href: path('delivery_index'),
                            label: 'Livraisons'
                        }) }}
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('component/nav/navbar_menu_item.html.twig', {
                            href: path('admin_index'),
                            label: 'Admin'
                        }) }}
                    {% endif %}
                </div>
            </div>

            {# Right side #}
            <div class="flex items-center justify-end px-5">
                {# Logout #}
                <div class="mr-2">
                    <a href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt text-xl text-gray-400 hover:text-gray-800"></i>
                    </a>
                </div>

                {# User #}
                <div class="hidden lg:block px-3.5 py-1.5 rounded-full bg-prunoise text-white text-xl">
                    <a href="{{ path('user_settings_index') }}">{{ app.user.displayName('navbar') }}</a>
                </div>

                {# Button for mobile menu #}
                <div class="lg:hidden" data-action="click->navbar#toggle">
                    <i id="app_navbar_button" class="fas fa-bars text-3xl text-gray-500"></i>
                </div>
            </div>
        </div>

        <div
            id="app_navbar_mobile_menu"
            class="
                hidden
                bg-white
                px-3 py-2
                border-t border-gray-500
                transition ease-in-out duration-300
            "
            {{ stimulus_target('navbar', 'mobile') }}
        >
            <ul>
                {{ include('component/nav/navbar_mobile_menu_item.html.twig', {
                    href: path('user_settings_index'),
                    label: 'Paramètres utilisateur'
                }) }}

                {{ include('component/nav/navbar_mobile_menu_item.html.twig', {
                    href: path('job_index'),
                    label: 'Suivi des jobs'
                }) }}

                {% if is_granted('ROLE_CUSTOMER') or is_granted('ROLE_ADMIN') %}
                {{ include('component/nav/navbar_mobile_menu_item.html.twig', {
                    href: path('job_reporting_index'),
                    label: 'Reporting'
                }) }}

                {{ include('component/nav/navbar_mobile_menu_item.html.twig', {
                    href: path('job_create'),
                    label: 'Nouveau job'
                }) }}
                {% endif %}

                {% if is_granted('ROLE_PROJECT_MANAGER') %}
                    {{ include('component/nav/navbar_mobile_menu_item.html.twig', {
                        href: path('home_index'),
                        label: 'Produits'
                    }) }}

                    {{ include('component/nav/navbar_mobile_menu_item.html.twig', {
                        href: path('delivery_index'),
                        label: 'Livraisons'
                    }) }}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
