{% extends 'core/core.html.twig' %}

{% block main %}
    <div class="max-w-screen-sm mx-auto">
        {# Title #}
        <h1 class="text-3xl font-light text-center mt-6">
            <span class="px-2 border border-prunoise rounded-md text-prunoise">Rejeter le job {{ job.customerReference }}</span>
        </h1>

        {# Info #}
        <div
                class="
                my-8 p-4
                rounded-lg
                border border-blue-400
                bg-blue-100
                text-blue-400
                flex justify-start items-center
            "
        >
            <div>
                <i class="fas fa-info text-3xl ml-3 mr-5"></i>
            </div>

            <div>
                Nous avons besoin de connaître la raison de cette modification afin de pouvoir traiter efficacement votre demande.<br>
                Merci pour votre aide.
            </div>
        </div>

        {{ form_start(form, { attr: { 'novalidate': 'novalidate', 'class': 'max-w-screen-sm mx-auto' } }) }}
        {{ form_row(form.comment) }}

        <div class="grid gap-4 grid-cols-2 mt-8">
            {{ include('component/button/button.html.twig', {
                href: path('job_view', { id: job.id }),
                label: 'Annuler'
            }) }}

            {{ include('component/button/button.html.twig', {
                label: 'Demander la modification'
            }) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
